<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated oi -->
      <package
            uri="http://www.example.org/oi"
            class="no.ntnu.tdt4250.oi.OiPackage"
            genModel="model/oi.genmodel"/>
   </extension>

</plugin>
